@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
    .aspect-golden {
        aspect-ratio: 1.618;
    }
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* AOS animations */
[data-aos] {
    pointer-events: none;
}
[data-aos].aos-animate {
    pointer-events: auto;
} 